{
  "swagger": "2.0",
  "basePath": "/opencrx-rest-CRX/org.opencrx.kernel.contract1/provider/CRX/segment/Standard",
  "host": "opencrx.ignite1.rhtechofficelatam.com",
  "paths": {
    "/audit": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;audit&raquo; for the specified query.",
        "operationId": "getAuditS",
        "tags": [
          "audit"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:AuditEntry$List"
            },
            "description": "List<org:opencrx:kernel:base:AuditEntry>"
          }
        }
      }
    },
    "/audit/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;audit&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:base:ObjectCreationAuditEntry\norg:opencrx:kernel:base:ObjectModificationAuditEntry\norg:opencrx:kernel:base:ObjectRemovalAuditEntry\n</pre>",
        "operationId": "getAudit",
        "tags": [
          "audit"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:AuditEntry"
            },
            "description": "org:opencrx:kernel:base:AuditEntry"
          }
        }
      }
    },
    "/calculationRule": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;calculationRule&raquo; for the specified query.",
        "operationId": "getCalculationRuleS",
        "tags": [
          "calculationRule"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule$List"
            },
            "description": "List<org:opencrx:kernel:contract1:CalculationRule>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;calculationRule&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:CalculationRule\n</pre>",
        "operationId": "addCalculationRule",
        "tags": [
          "calculationRule"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule"
            },
            "description": "org:opencrx:kernel:contract1:CalculationRule"
          }
        }
      }
    },
    "/calculationRule/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;calculationRule&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:CalculationRule\n</pre>",
        "operationId": "getCalculationRule",
        "tags": [
          "calculationRule"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule"
            },
            "description": "org:opencrx:kernel:contract1:CalculationRule"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;calculationRule&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteCalculationRule",
        "tags": [
          "calculationRule"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;calculationRule&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateCalculationRule",
        "tags": [
          "calculationRule"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule"
            },
            "description": "org:opencrx:kernel:contract1:CalculationRule"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;calculationRule&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:CalculationRule\n</pre>",
        "operationId": "addQualifiedCalculationRule",
        "tags": [
          "calculationRule"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:CalculationRule"
            },
            "description": "org:opencrx:kernel:contract1:CalculationRule"
          }
        }
      }
    },
    "/contract": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;contract&raquo; for the specified query.",
        "operationId": "getContractS",
        "tags": [
          "contract"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract$List"
            },
            "description": "List<org:opencrx:kernel:contract1:GenericContract>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contract&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:GenericContract\norg:opencrx:kernel:contract1:SalesVolumeContract\n</pre>",
        "operationId": "addContract",
        "tags": [
          "contract"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract"
            },
            "description": "org:opencrx:kernel:contract1:GenericContract"
          }
        }
      }
    },
    "/contract/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;contract&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:GenericContract\norg:opencrx:kernel:contract1:SalesVolumeContract\n</pre>",
        "operationId": "getContract",
        "tags": [
          "contract"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract"
            },
            "description": "org:opencrx:kernel:contract1:GenericContract"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;contract&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteContract",
        "tags": [
          "contract"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;contract&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateContract",
        "tags": [
          "contract"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract"
            },
            "description": "org:opencrx:kernel:contract1:GenericContract"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contract&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:GenericContract\norg:opencrx:kernel:contract1:SalesVolumeContract\n</pre>",
        "operationId": "addQualifiedContract",
        "tags": [
          "contract"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:GenericContract"
            },
            "description": "org:opencrx:kernel:contract1:GenericContract"
          }
        }
      }
    },
    "/contractCreator": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;contractCreator&raquo; for the specified query.",
        "operationId": "getContractCreatorS",
        "tags": [
          "contractCreator"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator$List"
            },
            "description": "List<org:opencrx:kernel:contract1:ContractCreator>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractCreator&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractCreator\norg:opencrx:kernel:contract1:SalesContractCreator\n</pre>",
        "operationId": "addContractCreator",
        "tags": [
          "contractCreator"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator"
            },
            "description": "org:opencrx:kernel:contract1:ContractCreator"
          }
        }
      }
    },
    "/contractCreator/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;contractCreator&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:ContractCreator\norg:opencrx:kernel:contract1:SalesContractCreator\n</pre>",
        "operationId": "getContractCreator",
        "tags": [
          "contractCreator"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator"
            },
            "description": "org:opencrx:kernel:contract1:ContractCreator"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;contractCreator&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteContractCreator",
        "tags": [
          "contractCreator"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;contractCreator&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateContractCreator",
        "tags": [
          "contractCreator"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator"
            },
            "description": "org:opencrx:kernel:contract1:ContractCreator"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractCreator&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractCreator\norg:opencrx:kernel:contract1:SalesContractCreator\n</pre>",
        "operationId": "addQualifiedContractCreator",
        "tags": [
          "contractCreator"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractCreator"
            },
            "description": "org:opencrx:kernel:contract1:ContractCreator"
          }
        }
      }
    },
    "/contractFilter": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;contractFilter&raquo; for the specified query.",
        "operationId": "getContractFilterS",
        "tags": [
          "contractFilter"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal$List"
            },
            "description": "List<org:opencrx:kernel:contract1:ContractFilterGlobal>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractFilter&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractFilterGlobal\n</pre>",
        "operationId": "addContractFilter",
        "tags": [
          "contractFilter"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal"
            },
            "description": "org:opencrx:kernel:contract1:ContractFilterGlobal"
          }
        }
      }
    },
    "/contractFilter/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;contractFilter&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:ContractFilterGlobal\n</pre>",
        "operationId": "getContractFilter",
        "tags": [
          "contractFilter"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal"
            },
            "description": "org:opencrx:kernel:contract1:ContractFilterGlobal"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;contractFilter&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteContractFilter",
        "tags": [
          "contractFilter"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;contractFilter&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateContractFilter",
        "tags": [
          "contractFilter"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal"
            },
            "description": "org:opencrx:kernel:contract1:ContractFilterGlobal"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractFilter&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractFilterGlobal\n</pre>",
        "operationId": "addQualifiedContractFilter",
        "tags": [
          "contractFilter"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractFilterGlobal"
            },
            "description": "org:opencrx:kernel:contract1:ContractFilterGlobal"
          }
        }
      }
    },
    "/contractGroup": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;contractGroup&raquo; for the specified query.",
        "operationId": "getContractGroupS",
        "tags": [
          "contractGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup$List"
            },
            "description": "List<org:opencrx:kernel:contract1:ContractGroup>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractGroup&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractGroup\n</pre>",
        "operationId": "addContractGroup",
        "tags": [
          "contractGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup"
            },
            "description": "org:opencrx:kernel:contract1:ContractGroup"
          }
        }
      }
    },
    "/contractGroup/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;contractGroup&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:ContractGroup\n</pre>",
        "operationId": "getContractGroup",
        "tags": [
          "contractGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup"
            },
            "description": "org:opencrx:kernel:contract1:ContractGroup"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;contractGroup&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteContractGroup",
        "tags": [
          "contractGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;contractGroup&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateContractGroup",
        "tags": [
          "contractGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup"
            },
            "description": "org:opencrx:kernel:contract1:ContractGroup"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractGroup&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractGroup\n</pre>",
        "operationId": "addQualifiedContractGroup",
        "tags": [
          "contractGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractGroup"
            },
            "description": "org:opencrx:kernel:contract1:ContractGroup"
          }
        }
      }
    },
    "/contractRole": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;contractRole&raquo; for the specified query.",
        "operationId": "getContractRoleS",
        "tags": [
          "contractRole"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractRole$List"
            },
            "description": "List<org:opencrx:kernel:contract1:ContractRole>"
          }
        }
      }
    },
    "/contractRole/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;contractRole&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:CustomerContractRole\n</pre>",
        "operationId": "getContractRole",
        "tags": [
          "contractRole"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractRole"
            },
            "description": "org:opencrx:kernel:contract1:ContractRole"
          }
        }
      }
    },
    "/contractType": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;contractType&raquo; for the specified query.",
        "operationId": "getContractTypeS",
        "tags": [
          "contractType"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType$List"
            },
            "description": "List<org:opencrx:kernel:contract1:ContractType>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractType&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractType\n</pre>",
        "operationId": "addContractType",
        "tags": [
          "contractType"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType"
            },
            "description": "org:opencrx:kernel:contract1:ContractType"
          }
        }
      }
    },
    "/contractType/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;contractType&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:ContractType\n</pre>",
        "operationId": "getContractType",
        "tags": [
          "contractType"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType"
            },
            "description": "org:opencrx:kernel:contract1:ContractType"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;contractType&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteContractType",
        "tags": [
          "contractType"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;contractType&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateContractType",
        "tags": [
          "contractType"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType"
            },
            "description": "org:opencrx:kernel:contract1:ContractType"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;contractType&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:ContractType\n</pre>",
        "operationId": "addQualifiedContractType",
        "tags": [
          "contractType"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:ContractType"
            },
            "description": "org:opencrx:kernel:contract1:ContractType"
          }
        }
      }
    },
    "/indexEntry": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;indexEntry&raquo; for the specified query.",
        "operationId": "getIndexEntryS",
        "tags": [
          "indexEntry"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:IndexEntry$List"
            },
            "description": "List<org:opencrx:kernel:base:IndexEntry>"
          }
        }
      }
    },
    "/indexEntry/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;indexEntry&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:base:IndexEntry\n</pre>",
        "operationId": "getIndexEntry",
        "tags": [
          "indexEntry"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:IndexEntry"
            },
            "description": "org:opencrx:kernel:base:IndexEntry"
          }
        }
      }
    },
    "/invoice": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;invoice&raquo; for the specified query.",
        "operationId": "getInvoiceS",
        "tags": [
          "invoice"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice$List"
            },
            "description": "List<org:opencrx:kernel:contract1:Invoice>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;invoice&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:Invoice\n</pre>",
        "operationId": "addInvoice",
        "tags": [
          "invoice"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice"
            },
            "description": "org:opencrx:kernel:contract1:Invoice"
          }
        }
      }
    },
    "/invoice/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;invoice&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:Invoice\n</pre>",
        "operationId": "getInvoice",
        "tags": [
          "invoice"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice"
            },
            "description": "org:opencrx:kernel:contract1:Invoice"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;invoice&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteInvoice",
        "tags": [
          "invoice"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;invoice&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateInvoice",
        "tags": [
          "invoice"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice"
            },
            "description": "org:opencrx:kernel:contract1:Invoice"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;invoice&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:Invoice\n</pre>",
        "operationId": "addQualifiedInvoice",
        "tags": [
          "invoice"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Invoice"
            },
            "description": "org:opencrx:kernel:contract1:Invoice"
          }
        }
      }
    },
    "/lead": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;lead&raquo; for the specified query.",
        "operationId": "getLeadS",
        "tags": [
          "lead"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead$List"
            },
            "description": "List<org:opencrx:kernel:contract1:Lead>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;lead&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:Lead\n</pre>",
        "operationId": "addLead",
        "tags": [
          "lead"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead"
            },
            "description": "org:opencrx:kernel:contract1:Lead"
          }
        }
      }
    },
    "/lead/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;lead&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:Lead\n</pre>",
        "operationId": "getLead",
        "tags": [
          "lead"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead"
            },
            "description": "org:opencrx:kernel:contract1:Lead"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;lead&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteLead",
        "tags": [
          "lead"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;lead&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateLead",
        "tags": [
          "lead"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead"
            },
            "description": "org:opencrx:kernel:contract1:Lead"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;lead&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:Lead\n</pre>",
        "operationId": "addQualifiedLead",
        "tags": [
          "lead"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Lead"
            },
            "description": "org:opencrx:kernel:contract1:Lead"
          }
        }
      }
    },
    "/opportunity": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;opportunity&raquo; for the specified query.",
        "operationId": "getOpportunityS",
        "tags": [
          "opportunity"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity$List"
            },
            "description": "List<org:opencrx:kernel:contract1:Opportunity>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;opportunity&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:Opportunity\n</pre>",
        "operationId": "addOpportunity",
        "tags": [
          "opportunity"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity"
            },
            "description": "org:opencrx:kernel:contract1:Opportunity"
          }
        }
      }
    },
    "/opportunity/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;opportunity&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:Opportunity\n</pre>",
        "operationId": "getOpportunity",
        "tags": [
          "opportunity"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity"
            },
            "description": "org:opencrx:kernel:contract1:Opportunity"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;opportunity&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteOpportunity",
        "tags": [
          "opportunity"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;opportunity&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateOpportunity",
        "tags": [
          "opportunity"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity"
            },
            "description": "org:opencrx:kernel:contract1:Opportunity"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;opportunity&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:Opportunity\n</pre>",
        "operationId": "addQualifiedOpportunity",
        "tags": [
          "opportunity"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Opportunity"
            },
            "description": "org:opencrx:kernel:contract1:Opportunity"
          }
        }
      }
    },
    "/quote": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;quote&raquo; for the specified query.",
        "operationId": "getQuoteS",
        "tags": [
          "quote"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote$List"
            },
            "description": "List<org:opencrx:kernel:contract1:Quote>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;quote&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:Quote\n</pre>",
        "operationId": "addQuote",
        "tags": [
          "quote"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote"
            },
            "description": "org:opencrx:kernel:contract1:Quote"
          }
        }
      }
    },
    "/quote/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;quote&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:Quote\n</pre>",
        "operationId": "getQuote",
        "tags": [
          "quote"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote"
            },
            "description": "org:opencrx:kernel:contract1:Quote"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;quote&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteQuote",
        "tags": [
          "quote"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;quote&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateQuote",
        "tags": [
          "quote"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote"
            },
            "description": "org:opencrx:kernel:contract1:Quote"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;quote&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:Quote\n</pre>",
        "operationId": "addQualifiedQuote",
        "tags": [
          "quote"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:Quote"
            },
            "description": "org:opencrx:kernel:contract1:Quote"
          }
        }
      }
    },
    "/salesOrder": {
      "get": {
        "description": " Retrieves the value for the reference &laquo;salesOrder&raquo; for the specified query.",
        "operationId": "getSalesOrderS",
        "tags": [
          "salesOrder"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "queryType",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "position",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "type": "integer"
          },
          {
            "name": "groups",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder$List"
            },
            "description": "List<org:opencrx:kernel:contract1:SalesOrder>"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;salesOrder&raquo; using an implementation-specific, reassignable qualifier. The element must be of type:<pre>org:opencrx:kernel:contract1:SalesOrder\n</pre>",
        "operationId": "addSalesOrder",
        "tags": [
          "salesOrder"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder"
            },
            "description": "org:opencrx:kernel:contract1:SalesOrder"
          }
        }
      }
    },
    "/salesOrder/{id}": {
      "get": {
        "description": "Retrieves the value for the reference &laquo;salesOrder&raquo; for the specified qualifier &laquo;id&raquo;. The returned value is of type:<pre>org:opencrx:kernel:contract1:SalesOrder\n</pre>",
        "operationId": "getSalesOrder",
        "tags": [
          "salesOrder"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "404": {
            "description": "Object with given qualifier not found"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder"
            },
            "description": "org:opencrx:kernel:contract1:SalesOrder"
          }
        }
      },
      "delete": {
        "description": "Deletes the value for the reference &laquo;salesOrder&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "deleteSalesOrder",
        "tags": [
          "salesOrder"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Object deleted"
          }
        }
      },
      "put": {
        "description": "Updates the value for the reference &laquo;salesOrder&raquo; with the specified qualifier &laquo;id&raquo;.",
        "operationId": "updateSalesOrder",
        "tags": [
          "salesOrder"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder$Type"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Unable to update object"
          },
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder"
            },
            "description": "org:opencrx:kernel:contract1:SalesOrder"
          }
        }
      },
      "post": {
        "description": "Adds the specified element to the set of the values for the reference &laquo;salesOrder&raquo; using the specified, reassignable qualifier &laquo;id&raquo;. The element must be of type:<pre>org:opencrx:kernel:contract1:SalesOrder\n</pre>",
        "operationId": "addQualifiedSalesOrder",
        "tags": [
          "salesOrder"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "object",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:contract1:SalesOrder"
            },
            "description": "org:opencrx:kernel:contract1:SalesOrder"
          }
        }
      }
    },
    "/addOwningGroup": {
      "post": {
        "description": "Invoke operation<pre>addOwningGroup(in: org:opencrx:kernel:base:ModifyOwningGroupParams): org:opencrx:kernel:base:ModifySecureObjectResult</pre>",
        "operationId": "addOwningGroup",
        "tags": [
          "addOwningGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifyOwningGroupParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifySecureObjectResult"
            },
            "description": "org:opencrx:kernel:base:ModifySecureObjectResult"
          }
        }
      }
    },
    "/checkPermissions": {
      "post": {
        "description": "Invoke operation<pre>checkPermissions(in: org:opencrx:kernel:base:CheckPermissionsParams): org:opencrx:kernel:base:CheckPermissionsResult</pre>",
        "operationId": "checkPermissions",
        "tags": [
          "checkPermissions"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:CheckPermissionsParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:CheckPermissionsResult"
            },
            "description": "org:opencrx:kernel:base:CheckPermissionsResult"
          }
        }
      }
    },
    "/exportItem": {
      "post": {
        "description": "Invoke operation<pre>exportItem(in: org:opencrx:kernel:base:ExportItemParams): org:opencrx:kernel:base:ExportItemResult</pre>",
        "operationId": "exportItem",
        "tags": [
          "exportItem"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ExportItemParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ExportItemResult"
            },
            "description": "org:opencrx:kernel:base:ExportItemResult"
          }
        }
      }
    },
    "/importItem": {
      "post": {
        "description": "Invoke operation<pre>importItem(in: org:opencrx:kernel:base:ImportItemParams): org:opencrx:kernel:base:ImportItemResult</pre>",
        "operationId": "importItem",
        "tags": [
          "importItem"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ImportItemParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ImportItemResult"
            },
            "description": "org:opencrx:kernel:base:ImportItemResult"
          }
        }
      }
    },
    "/removeAllOwningGroup": {
      "post": {
        "description": "Invoke operation<pre>removeAllOwningGroup(in: org:opencrx:kernel:base:RemoveAllOwningGroupParams): org:opencrx:kernel:base:ModifySecureObjectResult</pre>",
        "operationId": "removeAllOwningGroup",
        "tags": [
          "removeAllOwningGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:RemoveAllOwningGroupParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifySecureObjectResult"
            },
            "description": "org:opencrx:kernel:base:ModifySecureObjectResult"
          }
        }
      }
    },
    "/removeOwningGroup": {
      "post": {
        "description": "Invoke operation<pre>removeOwningGroup(in: org:opencrx:kernel:base:ModifyOwningGroupParams): org:opencrx:kernel:base:ModifySecureObjectResult</pre>",
        "operationId": "removeOwningGroup",
        "tags": [
          "removeOwningGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifyOwningGroupParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifySecureObjectResult"
            },
            "description": "org:opencrx:kernel:base:ModifySecureObjectResult"
          }
        }
      }
    },
    "/replaceOwningGroup": {
      "post": {
        "description": "Invoke operation<pre>replaceOwningGroup(in: org:opencrx:kernel:base:ModifyOwningGroupsParams): org:opencrx:kernel:base:ModifySecureObjectResult</pre>",
        "operationId": "replaceOwningGroup",
        "tags": [
          "replaceOwningGroup"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifyOwningGroupsParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifySecureObjectResult"
            },
            "description": "org:opencrx:kernel:base:ModifySecureObjectResult"
          }
        }
      }
    },
    "/setAccessLevel": {
      "post": {
        "description": "Invoke operation<pre>setAccessLevel(in: org:opencrx:kernel:base:SetAccessLevelParams): org:opencrx:kernel:base:ModifySecureObjectResult</pre>",
        "operationId": "setAccessLevel",
        "tags": [
          "setAccessLevel"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:SetAccessLevelParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifySecureObjectResult"
            },
            "description": "org:opencrx:kernel:base:ModifySecureObjectResult"
          }
        }
      }
    },
    "/setOwningUser": {
      "post": {
        "description": "Invoke operation<pre>setOwningUser(in: org:opencrx:kernel:base:SetOwningUserParams): org:opencrx:kernel:base:ModifySecureObjectResult</pre>",
        "operationId": "setOwningUser",
        "tags": [
          "setOwningUser"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:SetOwningUserParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:ModifySecureObjectResult"
            },
            "description": "org:opencrx:kernel:base:ModifySecureObjectResult"
          }
        }
      }
    },
    "/updateIndex": {
      "post": {
        "description": "Invoke operation<pre>updateIndex(in: org:opencrx:kernel:base:UpdateIndexParams): org:opencrx:kernel:base:UpdateIndexResult</pre>",
        "operationId": "updateIndex",
        "tags": [
          "updateIndex"
        ],
        "consumes": [
          "application/json",
          "application/xml"
        ],
        "produces": [
          "application/json",
          "application/xml"
        ],
        "parameters": [
          {
            "name": "in",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:UpdateIndexParams$Type"
            }
          }
        ],
        "responses": {
          "default": {
            "schema": {
              "$ref": "#/definitions/org:opencrx:kernel:base:UpdateIndexResult"
            },
            "description": "org:opencrx:kernel:base:UpdateIndexResult"
          }
        }
      }
    }
  },
  "definitions": {
    "Path": {
      "properties": {
        "@href": {
          "type": "string"
        },
        "$": {
          "type": "string"
        }
      }
    },
    "PathElement": {
      "properties": {
        "@href": {
          "type": "string"
        },
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "string"
        }
      }
    },
    "Path$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/PathElement"
          }
        }
      }
    },
    "StringElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "string"
        }
      }
    },
    "String$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/StringElement"
          }
        }
      }
    },
    "IntegerElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "Integer$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IntegerElement"
          }
        }
      }
    },
    "LongElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "integer",
          "format": "int64"
        }
      }
    },
    "Long$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LongElement"
          }
        }
      }
    },
    "DateElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "string",
          "format": "date"
        }
      }
    },
    "Date$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DateElement"
          }
        }
      }
    },
    "DateTimeElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "DateTime$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DateTimeElement"
          }
        }
      }
    },
    "BooleanElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "boolean"
        }
      }
    },
    "Boolean$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/BooleanElement"
          }
        }
      }
    },
    "DecimalElement": {
      "properties": {
        "@index": {
          "type": "integer",
          "format": "int32"
        },
        "$": {
          "type": "number"
        }
      }
    },
    "Decimal$List": {
      "properties": {
        "_item": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/DecimalElement"
          }
        }
      }
    },
    "org:opencrx:kernel:base:CheckPermissionsResult": {
      "discriminator": "@type",
      "properties": {
        "hasReadPermission": {
          "description": "<span title=\"org:opencrx:kernel:base:CheckPermissionsResult:hasReadPermission\">&laquo;1..1&raquo; org:w3c:boolean</span>",
          "type": "boolean",
          "readOnly": false
        },
        "hasUpdatePermission": {
          "description": "<span title=\"org:opencrx:kernel:base:CheckPermissionsResult:hasUpdatePermission\">&laquo;1..1&raquo; org:w3c:boolean</span>",
          "type": "boolean",
          "readOnly": false
        },
        "grantedPermissionsUpdate": {
          "description": "<span title=\"org:opencrx:kernel:base:CheckPermissionsResult:grantedPermissionsUpdate\">&laquo;list&raquo; org:w3c:string</span>",
          "$ref": "#/definitions/String$List",
          "readOnly": false
        },
        "grantedPermissionsRead": {
          "description": "<span title=\"org:opencrx:kernel:base:CheckPermissionsResult:grantedPermissionsRead\">&laquo;list&raquo; org:w3c:string</span>",
          "$ref": "#/definitions/String$List",
          "readOnly": false
        },
        "hasDeletePermission": {
          "description": "<span title=\"org:opencrx:kernel:base:CheckPermissionsResult:hasDeletePermission\">&laquo;1..1&raquo; org:w3c:boolean</span>",
          "type": "boolean",
          "readOnly": false
        },
        "grantedPermissionsDelete": {
          "description": "<span title=\"org:opencrx:kernel:base:CheckPermissionsResult:grantedPermissionsDelete\">&laquo;list&raquo; org:w3c:string</span>",
          "$ref": "#/definitions/String$List",
          "readOnly": false
        },
        "@type": {
          "type": "string"
        },
        "@id": {
          "type": "string"
        },
        "@href": {
          "type": "string"
        }
      }
    },
    "org:opencrx:kernel:base:CheckPermissionsResult$Type": {
      "properties": {
        "org.opencrx.kernel.base.CheckPermissionsResult": {
          "$ref": "#/definitions/org:opencrx:kernel:base:CheckPermissionsResult"
        }
      }
    },
    "org:opencrx:kernel:contract1:ContractCreator": {
      "discriminator": "@type",
      "properties": {
        "accessLevelBrowse": {
          "description": "<span title=\"org:opencrx:kernel:base:SecureObject:accessLevelBrowse\">&laquo;1..1&raquo; org:w3c:short</span>",
          "type": "integer",
          "format": "int32",
          "readOnly": false
        },
        "accessLevelDelete": {
          "description": "<span title=\"org:opencrx:kernel:base:SecureObject:accessLevelDelete\">&laquo;1..1&raquo; org:w3c:short</span>",
          "type": "integer",
          "format": "int32",
          "readOnly": false
        },
        "accessLevelUpdate": {
          "description": "<span title=\"org:opencrx:kernel:base:SecureObject:accessLevelUpdate\">&laquo;1..1&raquo; org:w3c:short</span>",
          "type": "integer",
          "format": "int32",
          "readOnly": false
        },
        "activeOn": {
          "description": "<span title=\"org:opencrx:kernel:contract1:ContractCreator:activeOn\">&laquo;1..1&raquo; org:w3c:dateTime</span>",
          "type": "string",
          "format": "date-time",
          "readOnly": false
        },
        "broker": {
          "description": "<span title=\"org:opencrx:kernel:contract1:SalesContractCreator:broker\">&laquo;0..1&raquo; org:opencrx:kernel:account1:Account</span>",
          "$ref": "#/definitions/Path",
          "readOnly": false
        },
        "calcRule": {
[...]
